<%- include("header"); -%>

    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>

    <div class="box">
      <% for(var i=0 ; i<newItems.length ; i++){ %>
        <div class="item">
          <input type="checkbox">
          <p><%= newItems[i] %></p>
        </div>
      <% } %>

      <form action="/" method="POST" class="item">
        <input type="text" name="newTask" placeholder="New Item" autocomplete="off" />
        <button type="submit" name="submit" value="<%= listTitle %>">+</button>
      </form>
    </div>
    
<%- include("footer"); -%>

    

    
  
